body,
html {
    border:
        0;
    padding:
        0;
    margin:
        0;
    overflow:
        hidden;
}

canvas {
    width:
        100%;
    height:
        100%;
}

.panel {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#content {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    margin: 1em 1em 0.5em 2em;
    color: white;
    min-width: 35%;
}

#board {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    margin: 0em 2em 0.5em 2em;
    color: white;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 1.1em;
}

#content p{
    margin-left: 1em;
}

#player::before {
    content: "Active Player: ";
    font-weight: bold;
}

#s1::before {
    content: "Black's Victories: ";
    font-weight: bold;
}

#s2::before {
    content: "White's Victories: ";
    font-weight: bold;
}

#timer::before {
    content: "Player's Time: ";
    font-weight: bold;
}

#turnTimer::before {
    content: "Turn Time: ";
    font-weight: bold;
}

#message::before {
    content: "> ";
    font-weight: bold;
}

#message {
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: rgb(150, 169, 253);
}

#dispGuide {
    background-color: white;
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 1em;
}
